@font-face {
    font-family: futura_handwritten;
    src: url(/assets/fonts/futura_handwritten_regular.ttf);
}

@font-face {
    font-family: crafty_girls;
    src: url(/assets/fonts/crafty_girls_regular.ttf);
}
